{% extends 'base.html.twig' %}

{% block title %}Hello
	{{ controller_name }}!
{% endblock %}

{% block body %}
	<div>
		<h1 class="text-5xl text-center mt-4 font-bold text-pink-700 mt-8 mb-8">Nos plats</h1>
	</div>
	{% for categorie in categories %}

		<h1 class="text-left text-5xl mt-9 flex justify-center font-bold">Les : {{ categorie.libelle }}s</h1>
<hr class="mb-9 border-2 border-pink-700">
<div class="flex justify-center">
			<div class="grid md:grid-cols-3 gap-14 sm:grid-cols-1 w-3/4">
			{% for plat in categorie.plats %}
				<div>
					<img class="w-full h-56 imgcategories rounded-t-lg " src="{{ asset('assets/images_the_district/food/') }}{{ plat.image }}" alt="{{ plat.libelle }}">
					<div class="flex font-bold text-xl   text-black justify-center p-2 overflow-hidden shadow-lg shadow-lg shadow-black couleur">{{plat.libelle}} {{plat.prix}}€  </div>
				</div>
			{% endfor %}
		</div>
		</div>

	{% endfor %}

{% endblock %}
