<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<script src="https://cdn.tailwindcss.com" media="screen"></script>
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" media="screen"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		</head>
		<body>
			<nav class="bg-white border-gray-200  ">
				<div class="max-w-full-xl flex flex-wrap items-center justify-between mx-auto p-4 couleur ">
					<div class="flex items-center">
						<img src="{{ asset('/assets/images_the_district/the_district_brand/Capture_d_écran_du_2023-07-26_11-31-38-removebg-preview.png') }}" class="h-20 " alt="district Logo" cla/>
						<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white text-white">District</span>
					</a>
				</div>
				<div class="flex md:order-2">


					<div class="relative hidden md:block ">


						<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"></div>
						<a href="#" class="btn rounded-full bg-white hover:bg-black hover:text-white p-3">Connexion</a>
					</div>
					<button data-collapse-toggle="navbar-search" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-search" aria-expanded="false">
						<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 17 14">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
						</svg>
					</button>
				</div>
				<div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
					<div class="relative mt-3 md:hidden">
						<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
							<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 20 20">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
							</svg>
						</div>
						<input type="text" id="search-navbar" class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search...">
					</div>
					<ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:border-0  couleur">
						<li class="flex justify-center flex-col">
							<svg viewbox="0 0 12 12" enable-background="new 0 0 12 12" id="home" class="h-12" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
								<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
								<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
								<g id="SVGRepo_iconCarrier">
									<g>
										<polygon fill="#1D1D1B" points="6,0 0,5 0,12 4,12 4,7 8,7 8,12 12,12 12,5 "></polygon>
										<rect fill="#1D1D1B" height="4" width="2" x="5" y="8"></rect>
									</g>
								</g>
							</svg>

							<a href="{{ path('app_accueil') }}" class="block py-2 pl-3 pr-4 text-gray-900 rounded   md:p-0  dark:text-white   dark:border-gray-700  text-2xl md:text-white hover:text-black">Accueil</a>
						</li>
						<li class="flex justify-center flex-col">
							<svg version="1.1" class="h-12 svg  " id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 512 512" xml:space="preserve" fill="#000000">
								<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
								<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
								<g id="SVGRepo_iconCarrier">

									<g>
										<path class="st0" d="M418.089,47.697l-15.133-24.248c3.545-2.263,5.913-6.214,5.913-10.726C408.869,5.696,403.18,0,396.147,0 H112.098C98.843,0,86.765,5.402,78.092,14.089c-8.688,8.652-14.306,20.759-14.306,33.993v422.023 c0,23.134,18.762,41.895,41.896,41.895h307.237c19.49,0,35.296-15.792,35.296-35.275V82.467 C448.215,64.742,435.099,50.24,418.089,47.697z M151.738,180.34l27.996,33.145c2.2,2.614,5.886,3.118,8.225,1.136l1.149-0.96 c2.34-1.983,2.48-5.703,0.266-8.316l-28.15-33.334c-5.676-6.718-3.293-12.169,0.616-15.469c3.909-3.3,9.682-4.736,15.357,1.983 l28.15,33.334c2.2,2.613,5.899,3.11,8.239,1.128l1.135-0.96c2.34-1.976,2.48-5.696,0.266-8.309l-27.996-33.152 c-10.159-12.029,5.66-24.682,15.581-12.926c11.896,14.082,26.441,31.309,26.441,31.309c18.341,21.565,18.412,31.12,16.408,44.355 c-1.611,10.663-4.288,18.243,7.09,31.722l3.615,4.274l-15.959,18.895l-6.292-7.433c-11.377-13.48-19.294-12.114-30.083-12.303 c-13.382-0.238-22.784-1.934-40.971-23.616c0,0-14.544-17.228-26.44-31.31C126.461,181.783,141.579,168.304,151.738,180.34z M204.829,448.226h-9.038v-27.33l-8.968,18.972h-6.46l-9.234-19.077v27.436h-9.024V400.06h8.659l12.821,27.309l12.568-27.309h8.674 V448.226z M250.115,408.376h-22.489v11.448h19.183v8.253h-19.183v11.833h22.489v8.316h-31.513V400.06h31.513V408.376z M298.315,448.226h-7.972l-19.757-30.084v30.084h-9.024V400.06h7.973l19.756,30.02v-30.02h9.024V448.226z M269.199,302.586 l15.96-18.902l47.01,55.676l-18.622,15.743L269.199,302.586z M346.601,431.656c0,2.508-0.462,4.834-1.345,6.914 c-0.897,2.088-2.158,3.896-3.741,5.367c-1.584,1.464-3.475,2.62-5.619,3.447c-2.13,0.812-4.456,1.226-6.908,1.226 c-2.438,0-4.764-0.414-6.908-1.226c-2.144-0.827-4.021-1.99-5.576-3.454c-1.57-1.472-2.816-3.272-3.699-5.36 c-0.897-2.08-1.345-4.406-1.345-6.914V400.06h9.024v31.274c0,2.823,0.77,5.051,2.298,6.613c1.541,1.583,3.572,2.347,6.207,2.347 s4.68-0.77,6.249-2.354c1.57-1.584,2.326-3.748,2.326-6.607V400.06h9.038V431.656z M367.086,181.405 c-6.418,15.644-17.95,44.347-30.841,59.627c-29.985,37.608-30.392,3.538-55.108,31.94l-69.359,82.131l-18.537-15.665l-0.309,0.182 c0,0,0.084-0.106,0.21-0.253c2.928-3.461,44.179-52.306,79.672-94.348c35.114-41.58,64.426-76.302,70.605-83.609 C356.087,146.396,377.105,157.052,367.086,181.405z M90.198,48.65v-0.568c0-5.57,2.382-11.14,6.529-15.28 c4.134-4.147,9.57-6.396,15.371-6.396h261.573l13.886,22.244H90.198z"></path>
									</g>
								</g>
							</svg>
							<a href="{{ path('app_categorie') }}" class="block py-2 pl-3 pr-4 text-gray-900 rounded   md:p-0  dark:text-white   dark:border-gray-700  text-2xl md:text-white hover:text-black">Catégories</a>
						</li>
						<li class="flex justify-center flex-col">
							<svg class="h-12" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 512 512" xml:space="preserve" fill="#000000">
								<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
								<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
								<g id="SVGRepo_iconCarrier">

									<g>
										<path class="st0" d="M469.345,416.047H44.659c-24.655,0-33.282,17.24-33.282,38.517v3.839c0,21.276,19.99,38.518,44.645,38.518 h401.844c24.654,0,44.644-17.241,44.644-38.518v-3.839C502.51,433.287,494.014,416.047,469.345,416.047z"></path>
										<path class="st0" d="M461.989,261.904H61.19c-22.878,0-28.434,12.751-28.434,28.464v0.833c0,15.735,5.556,28.464,28.434,28.464 h400.798c22.9,0,26.637-12.73,26.637-28.464v-0.833C488.626,274.655,484.889,261.904,461.989,261.904z"></path>
										<path class="st0" d="M41.676,174.611h430.527c16.378,0,25.832-7.706,25.832-22.344c0-4.994-0.519-2.72-1.477-7.656 C483.339,76.343,381.13,15.08,256.958,15.08c-124.194,0-226.403,61.264-239.63,129.532c-0.965,4.935-1.477,2.662-1.477,7.656 C15.851,166.905,25.298,174.611,41.676,174.611z M392.939,76.139c6.565,0,11.903,4.606,11.903,10.273 c0,5.666-5.338,10.272-11.903,10.272c-6.574,0-11.918-4.606-11.918-10.272C381.021,80.745,386.365,76.139,392.939,76.139z M333.393,42.63c6.58,0,11.903,4.606,11.903,10.273c0,5.681-5.323,10.287-11.903,10.287c-6.574,0-11.904-4.606-11.904-10.287 C321.49,47.236,326.82,42.63,333.393,42.63z M294.7,76.139c6.58,0,11.91,4.606,11.91,10.273c0,5.666-5.33,10.272-11.91,10.272 c-6.573,0-11.904-4.606-11.904-10.272C282.79,80.745,288.127,76.139,294.7,76.139z M250.048,29.929 c6.58,0,11.91,4.592,11.91,10.258c0,5.674-5.33,10.273-11.91,10.273c-6.573,0-11.911-4.6-11.911-10.273 C238.138,34.521,243.475,29.929,250.048,29.929z M214.331,73.565c6.566,0,11.904,4.607,11.904,10.281 c0,5.674-5.338,10.273-11.904,10.273c-6.58,0-11.91-4.599-11.91-10.273C202.421,78.171,207.751,73.565,214.331,73.565z M172.655,42.754c6.573,0,11.91,4.599,11.91,10.273s-5.338,10.272-11.91,10.272c-6.58,0-11.903-4.599-11.903-10.272 S166.075,42.754,172.655,42.754z M125.02,73.565c6.58,0,11.918,4.607,11.918,10.281c0,5.674-5.33,10.273-11.918,10.273 c-6.573,0-11.903-4.599-11.903-10.273C113.124,78.171,118.448,73.565,125.02,73.565z"></path>
										<path class="st0" d="M14.886,248.545c4.504,0.008,8.818-0.497,12.796-1.462c3.992-0.973,7.611-2.391,10.792-4.058 c6.369-3.348,10.894-7.458,14.587-11.07c2.464-2.428,4.569-4.672,6.5-6.559c2.574-2.544,4.826-4.379,6.829-5.513 c1.155-0.65,2.223-1.134,3.452-1.47c1.389-0.402,3.012-0.672,5.315-0.672c1.982,0,3.459,0.204,4.716,0.512 c1.265,0.307,2.332,0.731,3.458,1.294c2.215,1.155,4.694,3.144,7.619,6.046c1.952,1.901,4.065,4.175,6.558,6.602 c3.32,3.24,7.297,6.836,12.693,9.93c3.071,1.762,6.596,3.326,10.529,4.446c4.504,1.294,9.461,1.981,14.696,1.974 c4.512,0.008,8.818-0.497,12.803-1.47c3.97-0.965,7.612-2.383,10.784-4.05c6.368-3.334,10.909-7.458,14.587-11.07 c2.464-2.428,4.57-4.672,6.507-6.559c2.588-2.536,4.819-4.379,6.829-5.513c1.148-0.65,2.23-1.134,3.444-1.477 c1.404-0.394,3.02-0.665,5.323-0.665c1.982,0,3.452,0.204,4.731,0.512c1.264,0.307,2.317,0.731,3.436,1.294 c2.23,1.155,4.702,3.144,7.626,6.046c1.959,1.901,4.08,4.175,6.551,6.602c3.334,3.24,7.312,6.836,12.7,9.93 c3.078,1.762,6.617,3.326,10.551,4.446c4.482,1.294,9.446,1.981,14.682,1.974c4.504,0.008,8.825-0.504,12.795-1.47 c3.992-0.965,7.612-2.391,10.792-4.057c6.376-3.327,10.902-7.451,14.594-11.07c2.464-2.42,4.563-4.664,6.508-6.551 c2.573-2.536,4.81-4.379,6.814-5.513c1.155-0.65,2.237-1.134,3.466-1.477c1.39-0.394,3.012-0.665,5.316-0.665 c1.981,0,3.466,0.204,4.716,0.512c1.258,0.307,2.326,0.731,3.452,1.294c2.23,1.148,4.694,3.144,7.619,6.039 c1.952,1.909,4.072,4.182,6.573,6.61c3.312,3.24,7.297,6.836,12.685,9.922c3.071,1.77,6.603,3.334,10.537,4.453 c4.496,1.294,9.468,1.981,14.703,1.974c4.504,0.008,8.818-0.504,12.796-1.47c3.984-0.972,7.611-2.391,10.784-4.057 c6.383-3.335,10.902-7.451,14.601-11.056c2.457-2.435,4.562-4.679,6.508-6.573c2.566-2.53,4.811-4.372,6.814-5.506 c1.163-0.658,2.238-1.134,3.466-1.477c1.39-0.394,3.02-0.665,5.324-0.672c1.974,0.008,3.451,0.212,4.723,0.519 c1.258,0.307,2.325,0.731,3.452,1.294c2.215,1.148,4.694,3.144,7.611,6.039c1.952,1.909,4.087,4.182,6.573,6.61 c3.319,3.24,7.311,6.836,12.685,9.922c3.071,1.77,6.603,3.334,10.536,4.453c4.49,1.286,9.461,1.981,14.711,1.974 c8.204,0,14.872-5.746,14.872-12.839c0-7.085-6.668-12.832-14.872-12.832c-1.996,0-3.466-0.212-4.738-0.519 c-1.266-0.307-2.34-0.724-3.452-1.294c-2.222-1.148-4.694-3.144-7.618-6.032c-1.945-1.924-4.081-4.19-6.566-6.625 c-3.305-3.224-7.297-6.821-12.693-9.922c-3.071-1.762-6.61-3.32-10.543-4.445c-4.475-1.287-9.446-1.982-14.681-1.982 c-4.512,0-8.818,0.512-12.81,1.484c-3.977,0.965-7.604,2.376-10.777,4.036c-6.376,3.349-10.91,7.458-14.595,11.077 c-2.456,2.42-4.577,4.679-6.507,6.566c-2.588,2.537-4.826,4.365-6.836,5.505c-1.148,0.666-2.23,1.126-3.451,1.477 c-1.396,0.395-3.02,0.672-5.316,0.672c-1.988,0-3.466-0.212-4.73-0.511c-1.258-0.314-2.332-0.732-3.436-1.302 c-2.23-1.148-4.716-3.144-7.633-6.032c-1.945-1.916-4.073-4.182-6.566-6.625c-3.312-3.224-7.304-6.821-12.685-9.922 c-3.071-1.762-6.61-3.32-10.543-4.445c-4.49-1.287-9.454-1.982-14.682-1.974c-4.511,0-8.817,0.512-12.81,1.477 c-3.977,0.965-7.604,2.376-10.777,4.036c-6.376,3.349-10.909,7.465-14.594,11.077c-2.456,2.42-4.562,4.679-6.507,6.566 c-2.581,2.537-4.818,4.365-6.829,5.505c-1.148,0.666-2.223,1.126-3.452,1.477c-1.396,0.395-3.012,0.672-5.315,0.672 c-1.982,0-3.466-0.212-4.731-0.511c-1.257-0.314-2.325-0.732-3.443-1.302c-2.223-1.148-4.694-3.144-7.612-6.032 c-1.959-1.916-4.08-4.182-6.58-6.625c-3.312-3.224-7.297-6.821-12.678-9.922c-3.07-1.762-6.61-3.32-10.543-4.445 c-4.489-1.287-9.462-1.982-14.696-1.974c-4.504,0-8.81,0.512-12.796,1.477c-3.984,0.965-7.604,2.376-10.777,4.036 c-6.39,3.349-10.902,7.465-14.601,11.077c-2.456,2.42-4.57,4.679-6.507,6.566c-2.567,2.537-4.811,4.365-6.815,5.505 c-1.163,0.666-2.237,1.126-3.458,1.477c-1.39,0.395-3.013,0.672-5.323,0.672c-1.989,0-3.465-0.212-4.715-0.511 c-1.266-0.314-2.333-0.732-3.459-1.302c-2.222-1.148-4.68-3.144-7.611-6.032c-1.952-1.916-4.08-4.182-6.558-6.625 c-3.327-3.224-7.312-6.821-12.708-9.922c-3.056-1.762-6.595-3.32-10.528-4.445c-4.49-1.287-9.462-1.982-14.69-1.974 c-4.511,0-8.825,0.512-12.802,1.477c-3.978,0.965-7.604,2.376-10.778,4.036c-6.375,3.349-10.901,7.465-14.594,11.077 c-2.464,2.42-4.563,4.679-6.507,6.566c-2.574,2.537-4.811,4.365-6.822,5.505c-1.148,0.666-2.23,1.126-3.443,1.477 c-1.396,0.395-3.013,0.672-5.324,0.672C6.668,222.875,0,228.622,0,235.707C0,242.799,6.668,248.545,14.886,248.545z"></path>
										<path class="st0" d="M497.128,369.947c-1.996,0-3.466-0.212-4.738-0.52c-1.266-0.3-2.34-0.716-3.452-1.294 c-2.222-1.148-4.694-3.137-7.618-6.032c-1.945-1.923-4.081-4.182-6.566-6.617c-3.305-3.224-7.297-6.829-12.693-9.928 c-3.071-1.755-6.61-3.32-10.543-4.446c-4.475-1.287-9.446-1.981-14.681-1.981c-4.512,0-8.818,0.512-12.81,1.484 c-3.977,0.965-7.604,2.376-10.777,4.043c-6.376,3.349-10.91,7.458-14.595,11.07c-2.456,2.42-4.577,4.686-6.507,6.573 c-2.588,2.537-4.826,4.365-6.836,5.505c-1.148,0.658-2.23,1.119-3.451,1.47c-1.396,0.402-3.02,0.673-5.316,0.673 c-1.988,0-3.466-0.212-4.73-0.512c-1.258-0.307-2.332-0.724-3.436-1.302c-2.23-1.148-4.716-3.137-7.633-6.032 c-1.945-1.915-4.073-4.175-6.566-6.617c-3.312-3.224-7.304-6.829-12.685-9.928c-3.071-1.755-6.61-3.312-10.543-4.446 c-4.49-1.287-9.454-1.981-14.682-1.974c-4.511,0-8.817,0.512-12.81,1.477c-3.977,0.965-7.604,2.376-10.777,4.043 c-6.376,3.349-10.909,7.465-14.594,11.07c-2.456,2.42-4.562,4.686-6.507,6.573c-2.581,2.537-4.818,4.365-6.829,5.505 c-1.148,0.658-2.223,1.119-3.452,1.47c-1.396,0.402-3.012,0.673-5.315,0.673c-1.982,0-3.466-0.212-4.731-0.512 c-1.257-0.307-2.325-0.724-3.443-1.302c-2.223-1.148-4.694-3.137-7.612-6.032c-1.959-1.915-4.08-4.175-6.58-6.617 c-3.312-3.224-7.297-6.829-12.678-9.928c-3.07-1.755-6.61-3.312-10.543-4.446c-4.489-1.287-9.462-1.981-14.696-1.974 c-4.504,0-8.81,0.512-12.796,1.477c-3.984,0.965-7.604,2.376-10.777,4.043c-6.39,3.349-10.902,7.465-14.601,11.07 c-2.456,2.42-4.57,4.686-6.507,6.573c-2.567,2.537-4.811,4.365-6.815,5.505c-1.163,0.658-2.237,1.119-3.458,1.47 c-1.39,0.402-3.013,0.673-5.323,0.673c-1.989,0-3.465-0.212-4.715-0.512c-1.266-0.307-2.333-0.724-3.459-1.302 c-2.222-1.148-4.68-3.137-7.611-6.032c-1.952-1.915-4.08-4.175-6.558-6.617c-3.327-3.224-7.312-6.829-12.708-9.928 c-3.056-1.755-6.595-3.312-10.528-4.446c-4.49-1.287-9.462-1.981-14.69-1.974c-4.511,0-8.825,0.512-12.802,1.477 c-3.978,0.965-7.604,2.376-10.778,4.043c-6.375,3.349-10.901,7.465-14.594,11.07c-2.464,2.42-4.563,4.686-6.507,6.573 c-2.574,2.537-4.811,4.365-6.822,5.505c-1.148,0.658-2.23,1.119-3.443,1.47c-1.396,0.402-3.013,0.673-5.324,0.673 C6.668,369.947,0,375.695,0,382.786c0,7.085,6.668,12.832,14.886,12.84c4.504,0.007,8.818-0.505,12.796-1.47 c3.992-0.972,7.611-2.391,10.792-4.058c6.369-3.349,10.894-7.45,14.587-11.07c2.464-2.42,4.569-4.665,6.5-6.558 c2.574-2.545,4.826-4.372,6.829-5.506c1.155-0.658,2.223-1.133,3.452-1.476c1.389-0.402,3.012-0.666,5.315-0.673 c1.982,0.008,3.459,0.212,4.716,0.512c1.265,0.314,2.332,0.738,3.458,1.294c2.215,1.155,4.694,3.151,7.619,6.047 c1.952,1.908,4.065,4.175,6.558,6.602c3.32,3.246,7.297,6.844,12.693,9.93c3.071,1.769,6.596,3.334,10.529,4.452 c4.504,1.294,9.461,1.981,14.696,1.974c4.512,0.007,8.818-0.505,12.803-1.47c3.97-0.972,7.612-2.391,10.784-4.058 c6.368-3.334,10.909-7.45,14.587-11.07c2.464-2.42,4.57-4.665,6.507-6.558c2.588-2.53,4.819-4.38,6.829-5.506 c1.148-0.658,2.23-1.133,3.444-1.484c1.404-0.394,3.02-0.658,5.323-0.666c1.982,0.008,3.452,0.212,4.731,0.512 c1.264,0.307,2.317,0.738,3.436,1.294c2.23,1.155,4.702,3.151,7.626,6.047c1.959,1.908,4.08,4.175,6.551,6.602 c3.334,3.246,7.312,6.836,12.7,9.93c3.078,1.762,6.617,3.326,10.551,4.452c4.482,1.287,9.446,1.981,14.682,1.974 c4.504,0.007,8.825-0.505,12.795-1.47c3.992-0.98,7.612-2.391,10.792-4.058c6.376-3.334,10.902-7.45,14.594-11.07 c2.464-2.42,4.563-4.672,6.508-6.558c2.573-2.53,4.81-4.38,6.814-5.513c1.155-0.651,2.237-1.126,3.466-1.477 c1.39-0.394,3.012-0.658,5.316-0.666c1.981,0.008,3.466,0.205,4.716,0.512c1.258,0.307,2.326,0.731,3.452,1.294 c2.23,1.155,4.694,3.151,7.619,6.047c1.952,1.908,4.072,4.175,6.573,6.602c3.312,3.246,7.297,6.836,12.685,9.93 c3.071,1.762,6.603,3.326,10.537,4.452c4.496,1.287,9.468,1.981,14.703,1.974c4.504,0.007,8.818-0.505,12.796-1.47 c3.984-0.98,7.611-2.398,10.784-4.058c6.383-3.334,10.902-7.458,14.601-11.063c2.457-2.435,4.562-4.679,6.508-6.565 c2.566-2.538,4.811-4.38,6.814-5.513c1.163-0.651,2.238-1.126,3.466-1.477c1.39-0.394,3.02-0.658,5.324-0.666 c1.974,0.008,3.451,0.205,4.723,0.512c1.258,0.307,2.325,0.731,3.452,1.294c2.215,1.155,4.694,3.151,7.611,6.047 c1.952,1.908,4.087,4.175,6.573,6.602c3.319,3.246,7.311,6.836,12.685,9.93c3.071,1.762,6.603,3.326,10.536,4.452 c4.49,1.287,9.461,1.981,14.711,1.967c8.204,0,14.872-5.747,14.872-12.832C512,375.695,505.332,369.947,497.128,369.947z"></path>
									</g>
								</g>
							</svg>
							<a href="{{ path('app_plats') }}" class="block py-2 pl-3 pr-4 text-gray-900 rounded   md:p-0 dark:text-white    dark:border-gray-700  text-2xl md:text-white hover:text-black">Plats</a>
						</li>
						<li class="flex justify-center flex-col">
							<svg fill="#000000" class="h-12" version="1.1" id="Filled_Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
								<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
								<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
								<g id="SVGRepo_iconCarrier">
									<g id="Contact-Us-Filled">
										<path d="M1,1v17h4v4l8.5-4H22V1H1z M8,11H5V8h3V11z M13,11h-3V8h3V11z M18,11h-3V8h3V11z"></path>
									</g>
								</g>
							</svg>
							<a href="{{ path('app_contact') }}" class="block py-2 pl-3 pr-4 text-gray-900 rounded   md:p-0 dark:text-white    dark:border-gray-700  text-2xl md:text-white hover:text-black">Contact</a>

						</li>
					</ul>
				</div>
			</div>
		</body>
	</html>
</nav>


<script src="{{ asset('assets/script/script.js') }}" defer></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% block body %}{% endblock %}</body></html>
